body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 10px;
    color: white;
}


#top-container {
    display: flex;
    flex-direction: row;
}

#middle-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

   
}

#vertical-middle-container {
    display: flex;
    flex-direction: column;
}

.green-background {
    background-color: green;
    height: 60px;
    width: 25%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.yellow-background {
    background-color: yellow;
    font-size: 20px;
    height: 60px;
    width: 75%; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pink-background {
    background-color: fuchsia;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 500px;
}

.blue-background {
    background-color: blue;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 300px;
    width: 1000px;
}

.red-background {
    background-color: red;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 150px;
    widht: 500px;
}

.lightgreen-background {
    background-color: lightgreen;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 150px;
    width: 500px;
}

.purple-background {
    background-color: purple;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 80px;
}